
/* ÁFRICA linear-gradient(to left, #e2011a, */

#section-al-ahly{
    background-image: url(imagens/logoclubes/logo-opacity/africa/al-ahly-op.png);
    background-repeat: no-repeat;
    background-position-x: 770px;
    background-position-y: -10px;
    background-size: 300px;
}
.class-al-ahly{
    background: linear-gradient(180deg, red, rgba(0, 0, 0, 0.897));
    color: white;
    text-shadow: 1px 2px 2px black;
    border-radius: 10px;
}
#section-esperance{
    background:  #fedc02;
    color: #e2011a;
    text-shadow: 1px 1px 1px #e2011a;
    z-index: 1;
    border-radius: 10px;
    background-image: url(imagens/logoclubes/logo-opacity/africa/esperance-op.png);
    background-repeat: no-repeat;
    background-position-x: 710px;
    background-position-y: 60px;
    background-size: 410px;
}
#section-zamalek{
    background-image: url(imagens/logoclubes/logo-opacity/africa/zamalek-op.png);
    background-repeat: no-repeat;
    background-position-x: 760px;
    background-position-y: 40px;
    background-size: 350px;
    z-index: 2;
}
.class-zamalek{
    background: linear-gradient(to right, white 60%, rgb(243, 52, 52));
    border-radius: 10px;
    text-shadow: 1px 1px 1px black;
}
#section-wydad{
    background-image: url(imagens/logoclubes/logo-opacity/africa/wydad-op.png);
    background-repeat: no-repeat;
    background-position-x: 780px;
    background-size: 280px;
    z-index: 2;
}
.class-wydad{
    background: linear-gradient(to right, #c40a14 70%, white);
    color: white;
    text-shadow: 1px 2px 2px black;
    border-radius: 10px;
}
#section-etoile{
    background: rgb(226, 0, 0);
    color: white;
    text-shadow: 1px 2px 2px black;
    z-index: 1;
    border-radius: 10px;
    background-image: url(imagens/logoclubes/logo-opacity/africa/etoile-op.png);
    z-index: 2;
    background-repeat: no-repeat;
    background-position-x: 750px;
    background-position-y: 30px;
    background-size: 310px;
}
/* ÁSIA */

#section-jeonbuk{
    background: rgb(75, 230, 75);
    border-radius: 10px;
    color: green;
    text-shadow: 1px 1px 1px black;
    background-image: url(imagens/logoclubes/logo-opacity/asia/jeonbuk-op.png);
    z-index: 2;
    background-repeat: no-repeat;
    background-position-x: 780px;
    background-position-y: 10px;
    background-size: 360px;
}
#section-kashima{
    background: #b61e3f;
    color: white;
    text-shadow: 1px 2px 2px black;
    background-image: url(imagens/logoclubes/logo-opacity/asia/kashima-op.png);
    z-index: 2;
    background-repeat: no-repeat;
    background-position-x: 760px;
    background-position-y: 30px;
    background-size: 310px;
}
#section-guang{
    background-image: url(imagens/logoclubes/logo-opacity/asia/guang-op.png);
    z-index: 2;
    background-repeat: no-repeat;
    background-position-x: 760px;
    background-position-y: 30px;
    background-size: 380px;
}
.class-guang{
    background: linear-gradient(to right, #f70e19, #9e1c20);
    color: yellow;
    text-shadow: 1px 2px 2px black;
    border-radius: 10px;
}
#section-persepolis{
    background-image: url(imagens/logoclubes/logo-opacity/asia/persepolis-op.png);
    z-index: 2;
    background-repeat: no-repeat;
    background-position-x: 765px;
    background-position-y: -10px;
    background-size: 330px;
}
.class-persepolis{
    background: linear-gradient(to right, #cc0606, #6b0000);
    color: white;
    text-shadow: 1px 2px 2px black;
    border-radius: 10px;
}
#section-al-hilal{
    background-image: url(imagens/logoclubes/logo-opacity/asia/al-hilal-op.png);
    z-index: 2;
    background-repeat: no-repeat;
    background-position-x: 760px;
    background-position-y: 40px;
    background-size: 400px;
}
.class-al-hilal{
    background: linear-gradient(#2c2766, #0b4383);
    color: white;
    text-shadow: 1px 2px 2px black;
    border-radius: 10px;
}

/* AMÉRICA CENTRAL */

#section-saprissa{
    background-image: url(imagens/logoclubes/logo-opacity/america-central/saprissa-op.png);
    background-repeat: no-repeat;
    background-position-x: 720px;
    background-position-y: 60px;
    background-size: 450px;
}
.class-saprissa{
    background: linear-gradient(#7b123d, #8b003a);
    color: white;
    text-shadow: 1px 2px 2px black;
    border-radius: 10px;
}
#section-herediano{
    background: #ffc20e;
    color: #da2128;
    background-image: url(imagens/logoclubes/logo-opacity/america-central/herediano-op.png);
    background-repeat: no-repeat;
    background-position-x: 790px;
    background-size: 330px;
    border-radius: 10px;
    text-shadow: 1px 1px 2px #240102;
}
#section-club-america{
    background: #fff100;
    color: #00163f;
    text-shadow: 1px 1px 2px #00163f;
    background-image: url(imagens/logoclubes/logo-opacity/america-central/americamex-op.png);
    background-repeat: no-repeat;
    background-position-x: 720px;
    background-position-y: 50px;
    background-size: 520px;
    border-radius: 10px;
}
#section-monterrey{
    background-image: url(imagens/logoclubes/logo-opacity/america-central/monterrey-op.png);
    background-repeat: no-repeat;
    background-position-x: 780px;
    background-position-y: -45px;
    background-size: 350px;
}
.class-monterrey{
    background: linear-gradient(to left,#012057,#00276c);
    color: white;
    text-shadow: 1px 2px 2px black;
    border-radius: 10px;
}

#section-toluca{
    background-image: url(imagens/logoclubes/logo-opacity/america-central/toluca-op.png);
    background-repeat: no-repeat;
    background-position-x: 780px;
    background-position-y: 30px;
    background-size: 350px;
}
.class-toluca{
    background: linear-gradient(to left, #9c0418, #ce152d);
    color: white;
    text-shadow: 1px 2px 2px black;
    border-radius: 10px;
}

/* AMÉRICA DO SUL */

#section-boca{
    background: darkblue;
    color: #fcb000;
    border-radius: 10px;
    background-image: url(imagens/logoclubes/logo-opacity/america-sul/boca-op.png);
    background-repeat: no-repeat;
    background-position-x: 750px;
    background-position-y: 30px;
    background-size: 420px;
    text-shadow: 1px 2px 2px black;
}
#section-river{
    background: white;
    color: red;
    border-radius: 10px;
    background-image: url(imagens/logoclubes/logo-opacity/america-sul/river-op.png);
    background-repeat: no-repeat;
    background-position-x: 780px;
    background-position-y: 10px;
    background-size: 340px;
    text-shadow: 1px 1px 1px black;
}
#section-vitoria{
    background: black;
    color: red;
    border-radius: 10px;
    background-image: url(imagens/logoclubes/logo-opacity/america-sul/vitoria-op.png);
    background-repeat: no-repeat;
    background-position-x: 700px;
    background-position-y: 60px;
    background-size: 520px;
    text-shadow: 1px 2px 2px black;
}
#section-santos{
    background: white;
    color: black;
    border-radius: 10px;
    background-image: url(imagens/logoclubes/logo-opacity/america-sul/santos-op.png);
    background-repeat: no-repeat;
    background-position-x: 700px;
    background-position-y: 30px;
    background-size: 550px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
#section-nacional{
    background: white;
    color: blue;
    border-radius: 10px;
    background-image: url(imagens/logoclubes/logo-opacity/america-sul/nacional-op.png);
    background-repeat: no-repeat;
    background-position-x: 740px;
    background-position-y: 20px;
    background-size: 450px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
#section-manutd{
    background: red;
    color: white;
    border-radius: 10px;
    background-image: url(imagens/logoclubes/logo-opacity/europa/manutd-op.png);
    background-repeat: no-repeat;
    background-position-x: 710px;
    background-position-y: 40px;
    background-size: 500px;
    text-shadow: 1px 2px 2px rgb(0, 0, 0);
}
#section-real-madrid{
    background: white;
    color: black;
    border-radius: 10px;
    background-image: url(imagens/logoclubes/logo-opacity/europa/real-madrid-op.png);
    background-repeat: no-repeat;
    background-position-x: 710px;
    background-position-y: 30px;
    background-size: 480px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
#section-bayern{
    background: #dc052d;
    color: white;
    border-radius: 10px;
    background-image: url(imagens/logoclubes/logo-opacity/europa/bayern-op.png);
    background-repeat: no-repeat;
    background-position-x: 700px;
    background-position-y: 90px;
    background-size: 580px;
    text-shadow: 1px 2px 2px rgb(0, 0, 0);
}
#section-chelsea{
    background: #283c85;
    color: white;
    border-radius: 10px;
    background-image: url(imagens/logoclubes/logo-opacity/europa/chelsea-op.png);
    background-repeat: no-repeat;
    background-position-x: 710px;
    background-position-y: 50px;
    background-size: 470px;
    text-shadow: 1px 2px 2px rgb(0, 0, 0);
}
#section-dortmund{
    background: #fde100;
    color: black;
    border-radius: 10px;
    background-image: url(imagens/logoclubes/logo-opacity/europa/dortmund-op.png);
    background-repeat: no-repeat;
    background-position-x: 700px;
    background-position-y: 50px;
    background-size: 540px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}