#section-manutd, #section-real-madrid, #section-bayern, #section-chelsea, #section-dortmund{
    border: 1px solid;
    margin-top: 35px;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: auto;
    display: block;
    padding-bottom: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.527), -2px -2px 6px rgba(0, 0, 0, 0.527);
    border-color: black;
}
#article-manutd header, #article-real-madrid header, #article-bayern header, #article-chelsea header, #article-dortmund header{
    margin-left: 30px;
    font-size: 24px;
    font-family: 'Poppins', arial;
}
#article-manutd p, #article-real-madrid p, #article-bayern p, #article-chelsea p, #article-dortmund p{
    margin-left: 255px;
    padding: 5px 30px 8px 0px;
    font-size: 18px;
    text-align: justify;
    line-height: 26px;
    font-family: 'Poppins', arial;
}
#img-manutd, #img-real-madrid, #img-bayern, #img-chelsea, #img-dortmund{
    float: left;
    position: relative;
    clear: none;
    display: block;
    left: 3%;
}
#img-manutd{
    top: 6em;
}
#img-real-madrid{
    top: 8em;
}
#img-bayern{
    top: 10em;
    left: 2%;
}
#img-chelsea{
    top: 5em;
    left: 2%;
}
#img-dortmund{
    top: 8em;
    left: 2%;
}