#section-jeonbuk, #section-kashima, #section-guang, #section-persepolis, #section-al-hilal{
    border: 1px solid;
    margin-top: 35px;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: auto;
    display: block;
    padding-bottom: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.527), -2px -2px 6px rgba(0, 0, 0, 0.527);
    border-color: black;
}
#section-jeonbuk header, #section-kashima header, #section-guang header, #section-persepolis header, #section-al-hilal header{
    margin-left: 30px;
    font-size: 24px;
    font-family: 'Poppins', arial;
}
#article-jeonbuk p, #article-kashima p, #article-guang p, #article-persepolis p, #article-al-hilal p{
    margin-left: 255px;
    padding: 5px 30px 8px 0px;
    font-size: 18px;
    text-align: justify;
    line-height: 26px;
    font-family: 'Poppins', arial;
}
#img-jeonbuk, #img-kashima, #img-guang, #img-persepolis, #img-al-hilal{
    float: left;
    position: relative;
    clear: none;
    display: block;
    left: 3%;
}
#img-guang, #img-boca, #img-al-hilal{
    top: 4em;
}
#img-jeonbuk{
    top: 1.5em;
}
#img-persepolis{
    padding-bottom: 25px;
}