#section-boca, #section-river, #section-vitoria, #section-santos, #section-nacional{
    border: 1px solid;
    margin-top: 35px;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: auto;
    display: block;
    padding-bottom: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.527), -2px -2px 6px rgba(0, 0, 0, 0.527);
    border-color: black;
}
#article-boca header, #article-river header, #article-vitoria header, #article-santos header, #article-nacional header{
    margin-left: 30px;
    font-size: 24px;
    font-family: 'Poppins', arial;
}
#article-boca p, #article-river p, #article-vitoria p, #article-santos p, #article-nacional p{
    margin-left: 255px;
    padding: 5px 30px 8px 0px;
    font-size: 18px;
    text-align: justify;
    line-height: 26px;
    font-family: 'Poppins', arial;
}
#img-boca, #img-river, #img-vitoria, #img-santos, #img-nacional{
    float: left;
    position: relative;
    clear: none;
    display: block;
    left: 3%;
}
#img-river{
    top: 2em;
}
#img-vitoria, #img-santos{
    top: 9em;
    left: 2%;
}
#img-nacional{
    top: 5em;
}